@media (max-width: 1600px) {
  section {
    width: 100%;
    margin: 0 auto;
  }
  .linText-nav {
    padding: 14px 80px 14px 80px;
  }
}

@media (max-width: 1400px) {
  .linText-nav {
    padding: 14px 40px 14px 40px;
  }
  /*section-1*/
  .section-1-text {
    left: 40px;
  }
  /*section-2*/
  .sec-padding-wrapper {
    padding: 0 40px 0 40px;
  }
  /*section-3*/
  .section-3 .sec-padding-wrapper {
    gap: 138px;
  }
  .text-sec-3 .paragraph {
    padding: 0 50px 0 0;
  }
}
@media (max-width: 1200px) {
  .sec-padding-wrapper {
    padding: 0 20px 0 20px;
  }
  /**/
  .linText-nav {
    padding: 14px 20px 14px 20px;
  }

  .section-1-text {
    left: 20px;
  }

  /*section-1*/
  .svg-container svg {
    max-height: 100%;
    max-width: 600px;
    height: auto;
  }
  .section-1-text {
    left: 20px;
  }
  /*section-3*/
  .section-3 .sec-padding-wrapper {
    gap: 50px;
  }

  .text-sec-3 {
    align-self: center;
    margin-bottom: 50px;
  }
  .text-sec-3 .paragraph {
    padding: 0 30px 0 0;
  }
}
@media (max-width: 990px) {
  /*naptec-header*/
  header .naptec-nav {
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  .svg-container svg {
    max-width: 460px;
  }
  .section-1-text p {
    padding: 0px 50px 0 0;
  }
  /*responsiv-menu*/
  .responsivity {
    display: flex;
  }
  .responsivity button {
    display: flex;
    align-self: center;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }
  .responsivity button svg {
    width: 20px;
    height: 20px;
  }
  .logo {
    align-self: center;
  }
  .side-bare-div {
    position: fixed;
    top: 138px;
    left: 0;
    background-color: #ede6db;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px;
    animation: start 0.5s ease-in-out forwards;
    z-index: 9999;
    border-top: 2px solid #d86752;
  }
  @keyframes start {
    from {
      width: 0%;
    }
    to {
      width: 98%;
    }
  }
  @keyframes end {
    from {
      width: 98%;
    }
    to {
      width: 0%;
    }
  }
  .side-bare-div img {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    align-self: center;
  }
  .close-btn {
    position: absolute;
    left: 88%;
    top: 1%;
    background: none;
    border: none;
  }
  .close-btn svg {
    width: 30px;
    height: 30px;
    color: #143338;
  }
  /*syling*/
  .linText-logo {
    margin-left: 150px;
  }
  .linText-nav .left-nav {
    gap: 0;
  }
  .nav-list {
    display: none;
  }
  .nav-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    padding: 60px 0 0 60px;
  }
  .nav-list ul li a {
    color: #073b43;
  }
  /*section-1*/
  /*section-2*/
  .list-sec-2 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  /*section-3*/
  .section-3 {
    height: auto;
  }
  .section-3 .sec-padding-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
  }
  .img-sec-3 {
    margin: 100px 0 0 0;
  }
  .text-sec-3 {
    align-self: flex-start;
    max-width: 100%;
    max-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
  }
}
@media (max-width: 770px) {
  .side-bare-div {
    top: 128px;
  }
  .naptec-nav .list-login ul {
    gap: 25px;
  }
  .naptec-nav .list-login ul li img {
    width: 35px;
    height: 35px;
  }
  .list-login ul li a {
    font-size: 14px;
  }
  .right-nav .get-a-quote-button {
    display: none;
  }
  .linText-logo {
    margin-left: 0;
  }
  /*section-1*/
  .section-1-text p {
    padding: 0px 50px 0 0;
  }
  /*section-2*/
  .title-logo h2 {
    font-size: clamp(3rem, 4vw, 42px);
  }
  .list-sec-2 ul li {
    width: 150px;
  }
  /*section-3*/
  /*section-3*/
  .img-sec-3 {
    max-width: 580px;
    max-height: 520px;
    margin: 100px 0 0 0;
  }
}
@media (max-width: 600px) {
  .title-logo {
    align-self: center;
    padding: 20px 0 0 0;
  }
  .title-logo h2 {
    font-size: clamp(2.125rem, 4vw, 42px);
  }
  .title-logo .logo-sec-2 {
    width: 203px;
    margin-right: 14%;
  }
  .list-sec-2 {
    align-items: flex-end;
    padding: 100px 0 60px 0;
  }

  .list-sec-2 ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
  }
  .list-sec-2 ul li {
    max-width: 300px;
    width: 300px;
  }
  /*section-3*/
  /*section-3*/

  .img-sec-3 {
    max-width: 410px;
    max-height: 480px;
    margin: 50px 0 0 0;
  }
  .text-sec-3 h1 {
    font-size: clamp(3rem, 3vw, 52px);
  }

  .text-sec-3 .paragraph p {
    font-size: clamp(1rem, 2vw, 18px);
  }
}
@media (max-width: 450px) {
  .list-login ul li a {
    font-size: 12px;
  }
  /*--section-1--*/
  .section-1 {
    height: min(70vh, 600px);
  }
  .svg-container svg {
    max-width: 340px;
  }
  .section-1-text {
    top: 120px;
  }
  .section-1-text h1 {
    line-height: 80px;
  }
  /*--section-2--*/
  .list-sec-2 ul li {
    max-width: 300px;
    width: 250px;
  }
  /*section-3*/
  .text-sec-3 {
    margin-bottom: 70px;
  }
  .text-sec-3 .paragraph p {
    font-size: clamp(0.9rem, 2vw, 18px);
  }
  .img-sec-3 {
    max-width: 98%;
    max-height: 410px;
  }
  .img-sec-3 img {
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  header .naptec-nav {
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  .naptec-nav .list-login ul {
    gap: 16px;
  }
  .naptec-logo img {
    width: 80px;
  }
  .list-login ul li a {
    font-size: 10px;
  }
  /*sectio,-1*/
  .section-1-text h1 {
    font-size: 80px;
    line-height: 80px;
  }
  .section-1-text p {
    font-size: 16px;
  }
  /*sectio,-2*/
  .title-logo h2 {
    font-size: clamp(1.9rem, 4vw, 42px);
  }
  .list-sec-2 ul li {
    max-width: 300px;
    width: 200px;
  }
  /*section-3*/
  .img-sec-3 img {
    object-fit: cover;
    object-position: 46% 50%;
  }
}
