*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
/*header*/
.responsivity {
  display: none;
}
header {
  width: 100%;
  border-bottom: 1px solid #0d384a;
}

/*naptec-header*/
header .naptec-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #143338;
  align-items: center;
  padding: 5px 0 5px 25%;
}
.naptec-logo img {
  width: 99px;
}
.naptec-nav .list-login ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}
.list-login ul li a {
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #ffffff;
}
.list-login ul li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.list-login ul li a:hover:before {
  transform: scaleX(1);
}
.list-login ul li:last-child {
  display: flex;
  flex-direction: row;
}
.list-login ul li:last-child a {
  padding: 13px;
}
/*linText-header*/
.linText-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ede6db;
  padding: 14px 240px 14px 240px;
}
.linText-nav .left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 85px;
}
.linText-nav .left-nav .linText-logo {
  width: 128px;
  height: 56px;
}
.linText-logo img {
  width: 100%;
  height: 100%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linText-nav .left-nav .nav-list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
}
.linText-nav .left-nav .nav-list ul li a {
  position: relative;
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #0d384a;
}
.linText-nav .left-nav .nav-list ul li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.linText-nav .left-nav .nav-list ul li a:hover:before {
  transform: scaleX(1);
}
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.get-a-quote-button a {
  max-width: 276px;
  height: 20px;
  border: 1px solid #d86752;
  color: #d86752;
  border-radius: 100px;
  padding: 14px 32px 14px 32px;
  white-space: nowrap;
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  transition: 0.3s;
}
.get-a-quote-button a:hover {
  background-color: #d86752;
  color: #ffffff;
}
/*Main*/
section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
/*--section-1--*/
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  height: 760px;
  min-height: 500px;
  padding: 0;
  background-color: #ede6db;
}
/*bg-sec-1*/
.bg-section {
  position: relative;
}
.svg-container {
  position: relative;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  margin-bottom: 17px;
}
.svg-container svg {
  max-height: 760px;
  height: auto;
}

/*text-sec-1*/
.section-1-text {
  position: absolute;
  max-width: 574px;
  top: 184px;
  left: 80px;
  z-index: 3;
}
.section-1-text h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 88px;
  line-height: 96px;
  vertical-align: middle;
  color: #1a3748;
  margin-bottom: 20px;
}
.section-1-text p {
  font-weight: 400;
  font-size: 18px;
  vertical-align: middle;
  line-height: 28px;
  color: #1a3748;
  padding: 0 90px 0 0;
  margin-bottom: 40px;
}
/*--section-1--*/
/*--section-2--*/
.section-2 {
  display: flex;
  position: relative;
  height: auto;
}
.section-2 .bg-img-sec-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #0000001f;
  object-fit: cover;
  z-index: -1;
}
.section-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001f;
  z-index: -1;
}
.sec-padding-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 80px 0 80px;
}
.title-logo {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 822px;
  height: 350px;
  padding: 80px 80px 0 0;
}
.title-logo h2 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-align: right;
  vertical-align: middle;
  padding: 0 0 32px 0;
  color: #ffffff;
}
.title-logo .logo-sec-2 {
  align-self: flex-end;
  width: 203px;
  height: 114px;
}
.logo-sec-2 img {
  width: 100%;
  height: 100%;
  filter: invert(100%) grayscale(100%) brightness(200%);
}
.list-sec-2 {
  align-items: flex-end;
  padding: 210px 0 60px 0;
}
.list-sec-2 ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.list-sec-2 ul li {
  border-radius: 32px;
  background-color: #0d384a;
}
.list-sec-2 ul li a .choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.choose h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
}
/*--section-2--*/
/*--section-3--*/
.section-3 {
  height: 760px;
  background-color: #f4f4f4;
}
.section-3 .sec-padding-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 168px;
}
.img-sec-3 {
  max-width: 698px;
  max-height: 612px;
  width: 698px;
  height: 612px;
  margin: 100px 0 100px 0;
}
.img-sec-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 0.93;
}
.text-sec-3 {
  align-self: flex-end;
  max-width: 574px;
  max-height: 292px;
  width: 574px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 100px;
}
.text-sec-3 h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  vertical-align: middle;
  color: #1a3748;
}
.text-sec-3 .paragraph {
  height: 188px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 100px 0 0;
}
.text-sec-3 .paragraph p {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  vertical-align: middle;
  color: #1a3748;
}
/*--section-3--*/
/*--section-4--*/
.section-4 {
  position: relative;
}
.section-4 .bg-sec {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg-sec img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
.section-4 .sec-padding-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  z-index: 1;
}
.title-sec-4 {
  padding: 100px 0 60px 0;
}
.title-sec-4 h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  color: #1a3748;
  vertical-align: middle;
}
.title-sec-4 p {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #1a3748;
  vertical-align: middle;
}
.categorie-cards {
  padding-bottom: 50px;
}
.categorie-cards ul {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 44px;
  padding: 0;
  margin: 0;
}
.categorie-cards ul li {
  position: relative;
  width: auto;
  max-width: 327px;
  max-height: 364px;
  background-color: #f4f4f4;
  padding: 16px;
}
.categorie-cards ul li:hover .card .contianer-img-card img {
  transform: scale(1.2);
}
.categorie-cards ul li .card {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card .contianer-img-card {
  position: relative;
  max-width: 295px;
  width: 100%;
  max-height: 264px;
  height: 100%;
  overflow: hidden;
}

.card .contianer-img-card img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  transition: all 0.4s ease;
}
.card .card-title {
  align-self: flex-start;
  padding: 16px 16px 16px 0;
}
.card .card-title h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: #1a3748;
  vertical-align: middle;
}
.card .card-title p {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  color: #1a3748cc;
}
/*--section-4--*/
/*--section-5--*/
.section-5 {
  height: auto;
}
.sec-padding-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.title-sec-5 {
  width: 547px;
  padding: 100px 0 60px 0;
}
.title-sec-5 h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  color: #1a3748;
  vertical-align: middle;
}
.title-sec-5 p {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #1a3748;
  vertical-align: middle;
  padding: 0 90px 0 0;
}

.product ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 40px;
}
.product ul li {
  display: flex;
  max-width: 332px;
  max-height: 480px;
  flex: 0 0 270px;
  padding-bottom: 100px;
  width: 100%;
}
.product ul li .product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 16px;
}
.product-card .product-image {
  max-width: 330px;
  max-height: 332px;
}
.product-image img {
  width: 100%;
  height: 100%;
}
.product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}
.product-text .description img {
  width: 54.86px;
  height: 24px;
  border-radius: 8px;
}
.product-text .description p {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #143338;
}
.product-text .reviews {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
}
.reviews p {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #143338;
}
.price span {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #143338;
}
/*--section-5--*/
/*--section-6--*/
.section-6 {
  position: relative;
  height: 100vh;
}
.section-6 .bg-sec {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section-6 .bg-sec img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
.section-6 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  z-index: 1;
}
.side-circle-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 600px;
  padding-left: 80px;
  background-color: #f4f4f4;
  border-radius: 0 400px 400px 0;
}
.side-circle-div .text-side-circle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 574px;
  max-height: 400px;
  width: 574px;
  height: 400px;
}
.text-side-circle h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  vertical-align: middle;
  color: #1a3748;
}
.text-side-circle p {
  width: 100%;
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  vertical-align: middle;
  color: #1a3748;
}
.text-side-circle a:hover {
  color: #ffffff;
  border-color: #1a3748;
  background-color: #1a3748;
}
/*--section-6--*/
/*--footer--*/
footer {
  width: 100%;
  background-color: #1a3748;
  padding: 0 100px 0 100px;
}
footer .container-padding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px 80px 100px 80px;
}
.container-padding .left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 142px;
}
.left-footer .get-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.get-email .title-footer h1 {
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 28px;
  line-height: 44px;
  vertical-align: middle;
  color: #ffffff;
}
.get-email form {
  position: relative;
}
.get-email form input {
  width: 451px;
  height: 56px;
  border: none;
  border-radius: 100px;
  background-color: #ffffff;
}
.get-email form input::placeholder {
  font-family: PP Agrandir;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  padding-left: 24px;
  color: #073b43;
}
.get-email form button {
  position: absolute;
  left: 256px;
  top: 4px;
  width: 188px;
  height: 48px;
  border: none;
  border-radius: 100px;
  padding: 14px 32px 16px 32px;
  background-color: #d86752;
  /*text*/
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}
.get-email form button:hover {
  transform: translateX(-10px);
}
.footer-logo {
  max-width: 128px;
  height: 56px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  filter: invert(100%) grayscale(100%) brightness(200%);
}
.container-padding .right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}
.right-footer .footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 226px;
}
.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-list ul li:nth-child(1) a {
  position: relative;
  font-family: PP Agrandir;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  transition: none;
}
.footer-list ul li a {
  position: relative;
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 4px;
  color: #ffffff;
}
.footer-list ul li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.footer-list ul li a:hover:before {
  transform: scaleX(1);
}
.right-footer .copyright h6 {
  font-family: PP Agrandir;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  vertical-align: middle;
  color: #ffffff99;
}
